@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
  width: 100%; /* O el ancho deseado */
}

.slider-item {
  width: 100%; /* Esto asegura que todos los elementos del slider tengan el mismo ancho */
}

.gradient-text {
  background-image: linear-gradient(to right,#fc0e65, #0077ff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
