@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
    width: 100%; /* O el ancho deseado */
  }
  
  .slider-item {
    width: 100%; /* Esto asegura que todos los elementos del slider tengan el mismo ancho */
  }
  
  .slider-image {
    width: 100%; /* Esto asegura que todas las imágenes dentro del slider ocupen el mismo ancho */
    height: auto; /* Esto permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
  }